<h3>確認画面</h3>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= form.hidden_field :image_cache %>
  <br>
  <%= form.hidden_field :content %><br>
  <p class="article">本文:<%= @feed.content %></p>
  <%= form.submit "シェアする" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
