<% if logged_in? %>
  <% @feeds.each do |feed| %>
  <div class="content">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag(feed.image.to_s, size: '400x400', class:"panel-body.picture") %>

        <div class="icon_size_feed">
          <%= image_tag(@user.icon.url, size: '50x50') %>
        <% if feed.user.id == current_user.id %><br>
          <%= link_to @user.name, user_path(current_user.id) %>
        <% else %>
          <%=  feed.user.name %>
        <% end %>
        </div>
      <div class="favorite_content">
        <%= feed.content %><br>
        <%= link_to '詳細を確認する', feed_path(feed.id) %>
        <% if feed.user.id == current_user.id %>
        <%= link_to '編集', edit_feed_path(feed.id) %>
        <%= link_to '削除', feed, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
