<div class="main container">
<% if @user.id == current_user.id %>
<h1>ユーザー編集</h1>
<%= form_with(model: @user, local: true) do |f| %>
<div class="form-group">
  <%= f.label :icon, 'プロフィール写真の変更', class: "control-label" %>
  <div class="custom-file">
       <%= f.file_field :icon, class: "form-control file custom-file-input" %>
       <label class="custom-file-label" for="inputFile" data-browse="参照" ></label>
  </div>
</div>
  <div class="form-group">
  <%= f.label :name, '名前', class: "sr-only" %>
  <%= f.text_field :name,  placeholder: '名前の編集', class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :email, 'email', class: "sr-only" %>
  <%= f.email_field :email, placeholder: 'メールアドレスを編集', class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :content, '自己紹介' , class: "sr-only" %>
  <%= f.text_area :content, placeholder: '自己紹介', class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :password, class: "sr-only" %>
  <%= f.password_field :password, placeholder: 'パスワード(6文字以上)', class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.submit "更新する", class: "btn btn-lg btn-primary btn-block"  %>
  </div>
<% end %>
<% end %>
</div>
