<h1>ユーザー登録</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="icon_image">
      <% if @user.icon? %>
        <%= image_tag @user.icon.url.to_s, class: ""%>
      <% else %>
        <%= image_tag "default_img.jpg", size: '100x100', class: "bigicon" %>
      <% end %>
  </div>
  <div class="form-group">
      <%= f.label :icon, 'プロフィール写真の変更', class: "control-label" %>
      <div class="custom-file">
         <%= f.file_field :icon, class: "form-control file custom-file-input" %>
         <label class="custom-file-label" for="inputFile" data-browse="参照" >ファイルを選択(ここにドロップすることもできます)</label>
      </div>
  </div>
  <%= f.label :名前 %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :自己紹介 %>
  <%= f.text_area :content %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  <%= f.label :パスワード（確認） %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Create my account" %>
<% end %>
