
<%= link_to 'プロフィールを編集',edit_user_path %>
<h1><%= @user.name %>のページ</h1>
<% if @user.image_name? %>
<% end %>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール写真: <img src="<%= "/user_images/#{@user.image_name}" %>">
<p>自己紹介: <%= @user.introduction %></p>
<%= link_to '新規投稿', new_feed_path %>
