<%= form_with(model: @feed, local:true, url: choose_new_or_edit ) do |form| %>
  <div class="justify-content-center">
    <div class="form-group">
    </div>
    <div class="custom-file">
      <%= form.label :content, 'コメント', class: "control-label" %>
      <%= form.text_area :content, placeholder: '今何してる？', class: "form-control" %>
  　</div>
      <div class="custom-file">
        <%= form.label :image, '写真をえらぶ', class: "control-label" %>
      <div class="custom-file">
        <%= form.file_field :image, class: "form-control file custom-file-input" %>
        <label class="custom-file-label" for="inputFile" data-browse="参照" >ファイルを選択(ここにドロップすることもできます)</label>
        <%= form.hidden_field :image_cache %>
      </div>
    </div>
    <div class="submit">
      <%= form.submit '投稿', class: "btn btn-outline-info" %>
    </div>
  <% end %>
